<div class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">NCM</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="#">Home</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="#">{{currentUser.firstName}}<span class="glyphicon glyphicon-user"></span></a></li>
      <li><a [routerLink]="['/login']"><span class="glyphicon glyphicon-log-in"></span> Logout</a></li>
    </ul>
  </div>
</div>
<br><br><br>
<div class="container-fluid">
      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
        <nav class="sidebar" [ngClass]="{sidebarPushRight: isActive}">
            <ul class="list-group">
                <a [routerLink]="['/test']" [routerLinkActive]="['router-link-active']" class="list-group-item">
                    <i class="fa fa-fw fa-dashboard"></i> Green cases
                </a>
                <a [routerLink]="['/test2']" [routerLinkActive]="['router-link-active']" class="list-group-item">
                    <i class="fa fa-fw fa-bar-chart-o"></i> Monitoring
                </a>
                <a [routerLink]="['/test3']" [routerLinkActive]="['router-link-active']" class="list-group-item">
                    <i class="fa fa-fw fa-bar-chart-o"></i> Statistics
                </a>
            </ul>
        </nav>
        </div>
        <div class="col-sm-9 offset-sm-3 col-md-10 offset-md-2 main">
          <section class="main-container" [ngClass]="{sidebarPushRight: isActive}"> 
            <router-outlet></router-outlet>
        </section>
      </div>
    </div> 